.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $transitionCubic, visibility 250ms $transitionCubic;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: $colorLight;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 600ms $transitionCubic, opacity 600ms $transitionCubic;
  }
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $mainColor;
    margin-bottom: 12px;
  }
  
  .modal__field {
    margin-bottom: 10px;
  }
  .input__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $colorText;
    margin-bottom: 4px;
    display: block;
  }
  .input__wrappper {
    position: relative;
  }
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    border-radius: 4px;
    background-color: transparent;
    padding: 0;
    padding-left: 30px;
    transition: border-color 250ms $transitionCubic;

    &:focus {
        border-color: $colorSecondary;
    }
  }
  .modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: $mainColor;
    transition: fill 250ms $transitionCubic;
  }
  
  .modal-input:focus + .modal-icon {
    fill: $colorSecondary;
  }
  .comment__field {
    margin-bottom: 20px;
  }
  .modal__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms $transitionCubic;

    &::placeholder {
        font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
        border-color: $colorSecondary;
    }
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
  
  .modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
  
    width: 30px;
    height: 30px;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: transparent;
    .modal-close__icon {
        fill: $colorPrimaryLogo;
        transition: fill 250ms $transitionCubic;
        .modal-close:hover &,
        .modal-close:focus & {
            fill: $colorSecondary;
        }
      }
  }
  
  .modal__check-field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .check__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $colorText;
    display: flex;
    align-items: center;
    & span {
        width: 16px;
        height: 15px;
        border: 2px solid $mainColor;
        border-radius: 2px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
    }
  }
  
  .modal__check:checked + .check-text span {
    background-color: $colorSecondary;
    border: none;
    fill: $colorLight;
  }
  .modal-check:focus + .check-text span {
    border-color: $colorSecondary;
  }
  .check__link {
    color: $colorSecondary;
  }
  
  .modal__btn {
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: $colorSecondary;
    color: $colorLight;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms $transitionCubic;
    &:hover,
    &:focus {
        background-color: $colorButton-hover;
    }
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }