.clients {}
.clients__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.clients__item {
    --n: 6; /* --The number of elements */
    width: calc((100% - (var(--n) - 1) * 30px) / var(--n));
    height: 92px;
}
.clients__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: $colorIcon;
    border-radius: 4px;
    transition: border-color 250ms $transitionCubic;
    .clients__icon {
        width: 100%;
        height: 100%;
        fill: $colorIcon;
        transition: fill 250ms $transitionCubic;
    }
    &:hover, &:focus {
        border-color: $colorSecondary;
        .clients-icon {
            fill: $colorSecondary;
        }
    }
}