.features {}
  .features__list {
      display: flex;
      gap: 30px;
    }
    .features__item {
      flex-basis: calc((100% - 90px) / 4);
    }
    .features__icon {
      background-color: $backgroundColor-light;
      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .features__title {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $mainColor;
      margin-bottom: 10px;
    }
    .features__text {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $colorText;
    }