$mainColor: #212121;
$colorText: #757575;
$colorSecondary: #2196f3;
$colorButton-hover: #188ce8;
$colorLight: #ffffff;
$colorPrimaryLogo: #000000;
$colorFooter-link: rgba(255, 255, 255, 0.6);
$backgroundColor-dark: #2f303a;
$backgroundColor-hero: rgba(47, 48, 58, 0.4);
$backgroundColor-worksTopText: rgba(47, 48, 58, 0.8);
$backgroundColorFilter-button: #c4c4c4;
$backgroundColor-light: #f5f4fa;
$colorHeaderBottom-line: #ececec;
$colorIcon: #afb1b8;
$backgroundColorFooter-social: rgba(255, 255, 255, 0.1);
$colorShadowButton: rgba(0, 0, 0, 0.15);
$transitionCubic: cubic-bezier(0.4, 0, 0.2, 1);
$fontRal: "Raleway", sans-serif;
$fontRob: "Roboto", sans-serif;